[submodule "arduino/libraries/RTClib"]
	path = arduino/libraries/RTClib
	url = git://github.com/adafruit/RTClib.git
[submodule "arduino/cmake"]
	path = arduino/cmake
	url = git@github.com:szaffarano/arduino-cmake.git
[submodule "arduino/libraries/Bounce"]
	path = arduino/libraries/Bounce
	url = git@github.com:thomasfredericks/Bounce-Arduino-Wiring.git
